{{!FOOTER}}

<footer class="w-full absolute bottom-0 left-0 right-0 mx-auto bg-custom-charcoal py-4 flex-wrap text-center mt-8">

<div id="discoBall">
  <div id="discoBallMiddle"></div>
</div>

{{! Contributors - GitHub profiles }}
<div class="text-white mt-4">
<div class="flex justify-center gap-4">
    <a href="https://github.com/CinosMagician" target="_blank" class="hover:text-custom-mandalay hover:no-underline">Lachlan</a>
    <a href="https://github.com/roughnut" target="_blank" class="hover:text-custom-mandalay hover:no-underline">Jeremy</a>
    <a href="https://github.com/falfada" target="_blank" class="hover:text-custom-mandalay hover:no-underline">Daniela</a>
    <a href="https://github.com/rhiannawilson" target="_blank" class="hover:text-custom-mandalay hover:no-underline">Rhianna</a>
    </div>    
<p class="text-custom-brown mx-auto text-sm mt-2">&copy; 2024</p>
</div>
</footer>
<script src="/js/discoBall.js"></script>

