{{!FOOTER}}

<footer class="text-white gap-4 container fixed bottom-0 left-0 right-0 w-100 mx-auto bg-custom-charcoal flex flex-row items-center justify-between p-4 rounded-full mt-3">

{{! Contributors - GitHub profiles }}
  <a href="/" class="gap-1 transition-all ">
    <span class=" material-symbols-outlined text-custom-brown container mx-auto justify-between p-6 mt-6">
      </span></a>

    <a href="https://github.com/CinosMagician" target="_blank">Lachlan</a>
    <a href="https://github.com/roughnut" target="_blank">Jeremy</a>
    <a href="https://github.com/falfada" target="_blank">Daniela</a>
    <a href="https://github.com/rhiannawilson" target="_blank">Rhianna</a>


{{! Copyright 2024 }}
<span>
   <p class="p-6 items-center text-custom-brown text-lg">Request DJ &copy; 2024</p>
     </span>
</footer>