{{!FOOTER}}

<footer class="container fixed bottom-0 left-0 right-0 mx-auto bg-custom-charcoal rounded-full flex-wrap text-center mb-3">
<img class="mx-auto mt-2" src="../images/logo.svg" alt="Request Dj Logo"/>


{{! Contributors - GitHub profiles }}
<div class="text-white m-3 p-2 mx-auto">
<div class="text-center justif-around">
    <a href="https://github.com/CinosMagician" target="_blank">Lachlan</a>
    <a href="https://github.com/roughnut" target="_blank">Jeremy</a>
    <a href="https://github.com/falfada" target="_blank">Daniela</a>
    <a href="https://github.com/rhiannawilson" target="_blank">Rhianna</a>
    </div>
    <a href="/" class="material-symbols-outlined text-custom-brown mx-auto">
home</a>
<p class="text-custom-brown mx-auto text-sm">&copy; 2024</p>
</div>
</footer>

