<h2 class="text-4xl font-bold text-custom-charcoal">Login</h2>
<form class="w-1/2 login-form">
    <div>
        <label for="username-login" class="block font-bold text-custom-charcoal">Username:</label>
        <input type="text" name="username-login" id="username-login" class="border-2 border-custom-brown bg-zinc-50 block w-full rounded-sm px-2 py-1 focus:outline-none focus:ring focus:ring-orange-200"/>
    </div>
    <div>
        <label for="password-login" class="block font-bold text-custom-charcoal">Password:</label>
        <input type="password" name="password-login" id="password-login" class="border-2 border-custom-brown bg-zinc-50 block w-full rounded-sm px-2 py-1 focus:outline-none focus:ring focus:ring-orange-200"/>
    </div>
    <button type="submit" class="bg-custom-charcoal text-white px-6 py-2 rounded-full transition-all hover:bg-custom-green mt-4">Login</button>
</form>
<script src="./js/login.js"></script>