<h2>Login</h2>
<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" name="username-login" id="username-login"/>
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" name="password-login" id="password-login"/>
    </div>
    <button type="submit">Login</button>
</form>
<script src="./js/login.js"></script>