<h2>Song Request</h2>
<form class="event-form">
    <div>
        <label for="event-title">Event Title:</label>
        <input type="text" name="event-title" id="event-title"/>
    </div>
    <div>
        <label for="event-desc">Event Description:</label>
        <input type="text" name="event-desc" id="event-desc"/>
    </div>
    <div>
        <label for="event-date">Event Date:</label>
        <input type="date" name="event-date" id="event-date"/>
    </div>
    <button type="submit">Submit</button>
</form>
<script src="/js/events.js"></script>