<h2>Signup</h2>
<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" name="username-signup" id="username-signup"/>
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" name="password-signup" id="password-signup"/>
    </div>
    <button type="submit">Signup</button>
</form>
<script src="./js/signUp.js"></script>