<h2 class="text-4xl font-bold text-custom-charcoal">Update Event</h2>
<form class="w-1/2 event-form" event-id="{{event.id}}">
    <div>
        <label for="event-title" class="block font-bold text-custom-charcoal">Event Title:</label>
        <input type="text" name="event-title" id="event-title" value="{{event.name}}" class="border-2 border-custom-brown bg-zinc-50 block w-full rounded-sm px-2 py-1 focus:outline-none focus:ring focus:ring-orange-200"/>
    </div>
    <div>
        <label for="event-desc" class="block font-bold text-custom-charcoal">Event Description:</label>
        <input type="text" name="event-desc" id="event-desc" value="{{event.description}}" class="border-2 border-custom-brown bg-zinc-50 block w-full rounded-sm px-2 py-1 focus:outline-none focus:ring focus:ring-orange-200"/>
    </div>
    <div>
        <label for="event-date" class="block font-bold text-custom-charcoal">Event Date:</label>
        <input type="date" name="event-date" id="event-date" value="{{event.formattedDate}}" class="border-2 border-custom-brown bg-zinc-50 block w-full rounded-sm px-2 py-1 focus:outline-none focus:ring focus:ring-orange-200"/>
    </div>
    <button type="submit" class="bg-custom-charcoal text-white px-6 py-2 rounded-full transition-all hover:bg-custom-green mt-4">Submit</button>
</form>
<script src="/js/updateEventForm.js"></script>