/* Disco Ball */
@-webkit-keyframes rotateDiscoBall {
    0% {-webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg); }
    100% {-webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg); }
}

@keyframes rotateDiscoBall {
    0% {transform: rotateX(90deg) rotateZ(0deg) rotate(0deg); }
    100% {transform: rotateX(90deg) rotateZ(360deg) rotate(0deg); }
}

@-webkit-keyframes rotateDiscoBallMiddle {
    0% {-webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg); }
    100% {-webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg); }
}

@keyframes rotateDiscoBallMiddle {
    0% {transform: rotateX(90deg) rotateY(0deg) rotate(0deg); }
    100% {transform: rotateX(90deg) rotateY(-360deg) rotate(0deg); }
}

@-webkit-keyframes reflect {
    0% {-webkit-filter: brightness(60%);}
    50% {-webkit-filter: brightness(120%);}  
    100% {-webkit-filter: brightness(90%);}  
}

@keyframes reflect {
    0% {opacity: 1;}
    50% {opacity: 0.4;}  
    100% {opacity: 1;}  
}

#discoBall {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100px;
  height: 100px;
  margin: auto;
  -webkit-animation: rotateDiscoBall 18s linear infinite;
  animation: rotateDiscoBall 18s linear infinite;
}

.square {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;	
  position: absolute;
  top: 50px;
  left: 50px;
  width: 6px;
  height: 6px;
  position: absolute;
  transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
}

#discoBallMiddle { 
  height: 100%;
  border-radius: 100%;
  background-color: #111;
  position: absolute;
  background: -webkit-linear-gradient(top, #111, #333);
  background: -moz-linear-gradient(top, #111, #333);
  background: linear-gradient(top, #111, #333);
  -webkit-animation: rotateDiscoBallMiddle 18s linear infinite;
  animation: rotateDiscoBallMiddle 18s linear infinite;
}

.text-custom-charcoal {
  color: #264653;
}
.hover\:text-custom-charcoal:hover {
  color: #264653;
}

.text-custom-green {
  color: #2a9d8f;
}
.hover\:text-custom-green:hover {
  color: #2a9d8f;
}

.text-custom-brown {
  color: #e9c46a;
}
.hover\:text-custom-brown:hover {
  color: #e9c46a;
}

.text-custom-mandalay {
  color: #f4a261;
}
.hover\:text-custom-mandalay:hover {
  color: #f4a261;
}

.text-custom-terra-cotta {
  color: #e76f51;
}
.hover\:text-custom-terra-cotta:hover {
  color: #e76f51;
}

.border-custom-charcoal {
  --tw-border-opacity: 1;
  border-color: #264653;
}

.border-custom-brown {
  border-color: #e9c46a;
}
.border-custom-green {
  border-color: #2a9d8f;
}

.border-custom-terra-cotta {
  border-color: #e76f51;
}

.border-custom-mandalay {
  border-color: #f4a261;
}
h1.logo {
  text-indent: -9999;
}
h1.logo img{
  width: 114px;
}

.bg-custom-charcoal {
  background-color: #264653;
}

.bg-custom-terra-cotta {
  background-color: #e76f51;
}

.bg-custom-mandalay {
  background-color: #f4a261;
}

.bg-custom-green {
  background-color: #2a9d8f;
}

.bg-custom-brown {
  background-color: #e9c46a;
}
.hover\:bg-custom-green:hover {
  background-color: #2a9d8f;
}
